Repository ubccr/xdmod, pull requests merged in 2018-07, with the labels that each got.

#603 Improve template class error handling
  classes/Xdmod/Template.php
Labels: bug, enhancement

#593 Improve method of calling single ETL action during testing
  classes/ETL/Configuration/Configuration.php
  classes/ETL/EtlOverseer.php
  classes/ETL/aAction.php
  classes/ETL/iAction.php
  open_xdmod/modules/xdmod/component_tests/lib/ETL/BaseEtlTest.php
  open_xdmod/modules/xdmod/component_tests/lib/ETL/IngestorTest.php
  open_xdmod/modules/xdmod/tests/lib/ETL/SqlParser/SqlParserTest.php
Labels: ETL

#606 Fix resource name regression
  configuration/etl/etl_action_defs.d/common/hpcdb/resources.json
  open_xdmod/modules/xdmod/integration_tests/lib/Database/ResourceNamesTest.php
  tests/artifacts/xdmod-test-artifacts/xdmod/integration/database/output/resource_names.json
Labels: ETL, bug, tests

#609 Fix loading of resource code to id mapping
  classes/ETL/Configuration/EtlConfiguration.php
  classes/ETL/EtlOverseer.php
  classes/ETL/Ingestor/pdoIngestor.php
  classes/ETL/aAction.php
Labels: ETL, bug

#604 Fix "shared_jobs" regression
  configuration/etl/etl_action_defs.d/common/hpcdb/resources.json
  open_xdmod/modules/xdmod/integration_tests/lib/Database/SharedJobsTest.php
  tests/artifacts/xdmod-test-artifacts/xdmod/integration/database/output/shared_jobs.json
Labels: ETL, bug, tests

#607 Filter out Open Stack heartbeat events with stopped or deleted state
  configuration/etl/etl_action_defs.d/cloud_openstack/raw_cloud_job_logs.json
  configuration/etl/etl_action_defs.d/cloud_openstack/staging_event.json
  configuration/etl/etl_tables.d/cloud_openstack/raw_event.json
Labels: ETL

#611 Update mappings from open stack events to event_type table
  configuration/etl/etl_data.d/cloud_openstack/openstack_event_map.json
Labels: ETL

#614 Change ETL configuration for job records/tasks
  configuration/etl/etl.d/hpcdb-xdw.json
Labels: ETL, enhancement

#613 Add "shared_jobs" documentation
  docs/configuration.md
Labels: documentation

#616 Change logging of ETL SQL warnings
  classes/ETL/aRdbmsDestinationAction.php
  open_xdmod/modules/xdmod/component_tests/lib/ETL/IngestorTest.php
Labels: ETL

#618 Check for unmapped fields globally over all tables
  classes/ETL/aRdbmsDestinationAction.php
Labels: ETL

#619 Use Configuration class to parse table definition rather than JsonFile
  classes/ETL/Maintenance/ManageTables.php
Labels: ETL, enhancement

#615 Add support for dumping chart config objects as JSON
  tools/dev/manage_saved_charts.php
Labels: enhancement

#621 Improve data sanitization for tighter checks in MySQL 5.7
  bin/acl-config
  classes/Models/Services/Acls.php
  configuration/etl/etl_action_defs.d/cloud_common/initialize_unknown_dimension_values.json
  configuration/etl/etl_tables.d/acls/modules.json
  configuration/etl/etl_tables.d/jobs/xdw/account.json
Labels: ETL, compatibility update
