Repository ubccr/xdmod, pull requests merged in 2018-08, with the labels that each got.

#455 Minor fix to logrotate rule
  configuration/logrotate.conf
Labels: compatibility update

#625 Add primary keys to ETL source queries
  configuration/etl/etl_action_defs.d/common/hpcdb/email-addresses.json
  configuration/etl/etl_action_defs.d/common/hpcdb/system-accounts.json
Labels: bug

#626 Prompt for resource type in xdmod-setup
  classes/OpenXdmod/Setup/AddResourceSetup.php
  classes/OpenXdmod/Setup/AdminUserSetup.php
  classes/OpenXdmod/Setup/Console.php
  classes/OpenXdmod/Setup/DatabaseSetup.php
  classes/OpenXdmod/Setup/ListResourcesSetup.php
  classes/OpenXdmod/Setup/Menu.php
  classes/OpenXdmod/Setup/ResourcesSetup.php
  classes/OpenXdmod/Setup/SetupItem.php
  open_xdmod/modules/xdmod/integration_tests/scripts/xdmod-setup.tcl
Labels: enhancement

#631 Add resource type information to docs
  docs/configuration.md
Labels: documentation

#632 Changing path to look for cloud event logs to use an ETL command line variable
  configuration/etl/etl.d/jobs_cloud_eucalyptus.json
  configuration/etl/etl.d/jobs_cloud_openstack.json
  open_xdmod/modules/xdmod/integration_tests/scripts/bootstrap.sh
Labels: ETL

#633 Support for ingesting job records modified in the past N days
  classes/ETL/EtlOverseerOptions.php
Labels: ETL, data quality

#635 Add cloud setup
  classes/OpenXdmod/Setup/ResourcesSetup.php
  configuration/datawarehouse.json
  open_xdmod/modules/xdmod/integration_tests/scripts/bootstrap.sh
  templates/roles.d/cloud.json
Labels: ACL

#637 Update logrotate configuration
  configuration/logrotate.conf
Labels: bug, enhancement

#636 Update resource specification ETL
  configuration/etl/etl_action_defs.d/common/hpcdb/resource-specs.json
Labels: ETL, bug

#641 Remove duplicate Cloud data warehouse configuration
  configuration/datawarehouse.d/cloud.json
Labels: bug, code cleanup

#639 add temporary table that contains volume delete event information and join against it to get the time a volume was deleted
  configuration/etl/etl_sql.d/cloud_openstack/post_ingest_update.sql
Labels: ETL

#644 Proper Support For Multiple Cloud Resource Ingestion + Ingestion Bugfixes
  classes/ETL/Ingestor/CloudStateReconstructorTransformIngestor.php
  configuration/etl/etl_action_defs.d/cloud_common/cloud_state.json
  configuration/etl/etl_action_defs.d/cloud_common/cloud_transient.json
  configuration/etl/etl_action_defs.d/cloud_common/initialize_unknown_dimension_values.json
  configuration/etl/etl_tables.d/cloud_common/account.json
  configuration/etl/etl_tables.d/cloud_common/asset.json
  configuration/etl/etl_tables.d/cloud_common/avail_zone.json
  configuration/etl/etl_tables.d/cloud_common/cloud_transient.json
  configuration/etl/etl_tables.d/cloud_common/event.json
  configuration/etl/etl_tables.d/cloud_common/event_reconstructed.json
  configuration/etl/etl_tables.d/cloud_common/host.json
  configuration/etl/etl_tables.d/cloud_common/image.json
  configuration/etl/etl_tables.d/cloud_common/instance.json
  configuration/etl/etl_tables.d/cloud_common/instance_type.json
  configuration/etl/etl_tables.d/cloud_common/region.json
  open_xdmod/modules/xdmod/component_tests/lib/ETL/CloudStateReconstructorTransformIngestorTest.php
Labels: bug, data quality

#645 Adding index to openstack_staging_event table
  configuration/etl/etl_tables.d/cloud_openstack/staging_event.json
Labels: ETL, bug

#650 Change storage source directory path
  configuration/etl/etl.d/staging.json
  docs/storage.md
Labels: ETL, enhancement

#651 Ingest resource names from `resources.json`
  configuration/etl/etl.d/staging.json
  configuration/etl/etl_action_defs.d/common/staging/resource.json
Labels: ETL, enhancement

#649 Add resource_id to where clause when updating end time for instance in post ingest
  configuration/etl/etl_sql.d/cloud_eucalyptus/post_ingest_updates.sql
  configuration/etl/etl_sql.d/cloud_openstack/post_ingest_update.sql
Labels: ETL, bug

#521 Set organization for new SSO Users
  classes/Authentication/SAML/XDSamlAuthentication.php
  classes/Models/Services/Organizations.php
  configuration/portal_settings.ini
  docs/simpleSAMLphp.md
  open_xdmod/modules/xdmod/integration_tests/scripts/samlSetup.sh
  templates/portal_settings.template
Labels: SSO, enhancement

#658 Make resource setup roles changes more generic
  classes/OpenXdmod/Setup/ResourcesSetup.php
Labels: enhancement

#654 Update xdmod setup tcl script
  configuration/etl/etl.d/jobs_cloud_common.json
  open_xdmod/modules/xdmod/integration_tests/scripts/bootstrap.sh
  open_xdmod/modules/xdmod/integration_tests/scripts/helper-functions.tcl
  open_xdmod/modules/xdmod/integration_tests/scripts/xdmod-setup.tcl
  open_xdmod/modules/xdmod/integration_tests/scripts/xdmod-upgrade-add-cloud-resource.tcl
Labels: ETL

#660 Removing statement that truncates openstack_staging_event table
  configuration/etl/etl_sql.d/cloud_openstack/post_ingest_update.sql
Labels: ETL, bug

#659 Fix resource setup
  classes/OpenXdmod/Setup/ResourcesSetup.php
Labels: bug

#657 Add migration to remove old, incorrect, data
  configuration/etl/etl.d/xdmod-migration-7_5_1-8_0_0.json
  configuration/etl/etl_sql.d/migrations/7.5.1-8.0.0/hpcdb/truncate-email-addresses.sql
Labels: ETL, bug
