Repository ubccr/xdmod, pull requests merged in 2018-06, with the labels that each got.

#535 Add submission venue for events
  configuration/etl/etl_action_defs.d/cloud_openstack/event.json
  configuration/etl/etl_tables.d/cloud_common/event.json
Labels: ETL

#540 Cloud Metrics Beta
  .gitignore
  classes/DataWarehouse/Query/Cloud/Aggregate.php
  classes/DataWarehouse/Query/Cloud/GroupBy.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByConfiguration.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByDay.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByMonth.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByNone.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByPerson.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByProject.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByQuarter.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByResource.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByVMCores.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByVMMemory.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByYear.php
  classes/DataWarehouse/Query/Cloud/Statistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/AverageCoresAllocatedStatistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/AverageWallHoursStatistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/CoreHoursStatistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/CoreReservationStatistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/CoresAllocatedStatistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/DiskReservationStatistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/MemoryReservationStatistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/RunningVMCountStatistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/StartedVMCountStatistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/VMCountStatistic.php
  classes/DataWarehouse/Query/Cloud/Statistics/WallHoursStatistic.php
  classes/DataWarehouse/Query/Cloud/Timeseries.php
  classes/ETL/Ingestor/StateReconstructorTransformIngestor.php
  configuration/datawarehouse.d/cloud.json
  configuration/etl/etl.d/cloud_state_machine.json
  configuration/etl/etl.d/jobs_cloud_common.json
  configuration/etl/etl.d/jobs_cloud_eucalyptus.json
  configuration/etl/etl_action_defs.d/cloud_common/cloud_metrics_aggregation.json
  configuration/etl/etl_action_defs.d/cloud_common/cloud_state.json
  configuration/etl/etl_action_defs.d/cloud_common/cloud_transient.json
  configuration/etl/etl_action_defs.d/cloud_common/memory_buckets.json
  configuration/etl/etl_action_defs.d/cloud_common/processor_buckets.json
  configuration/etl/etl_data.d/cloud_common/memory_buckets.json
  configuration/etl/etl_data.d/cloud_common/processor_buckets.json
  configuration/etl/etl_sql.d/cloud_eucalyptus/post_ingest_updates.sql
  configuration/etl/etl_tables.d/cloud_common/cloud_transient.json
  configuration/etl/etl_tables.d/cloud_common/cloudfact_by_.json
  configuration/etl/etl_tables.d/cloud_common/event_reconstructed.json
  configuration/etl/etl_tables.d/cloud_common/memory_buckets.json
  configuration/etl/etl_tables.d/cloud_common/processor_buckets.json
  configuration/roles.d/cloud.json
  open_xdmod/modules/xdmod/tests/lib/Xdmod/ConfigTest.php
  tests/artifacts/xdmod-test-artifacts/xdmod/acls/output/datawarehouse.json
  tests/artifacts/xdmod-test-artifacts/xdmod/acls/output/roles.json
Labels: feature request

#573 Correct order by placement in event reconstruction
  classes/ETL/Ingestor/StateReconstructorTransformIngestor.php
Labels: bug

#580 Improve error message if lock directory exists and is a file
  classes/ETL/LockFile.php
Labels: ETL

#568 Documentation pointer to configuring Globus Auth via simplesamlphp-mo…
  docs/simpleSAMLphp.md
Labels: SSO, documentation

#581 Standardize action names
  bin/xdmod-ingestor
  classes/ETL/Configuration/Configuration.php
  classes/ETL/Configuration/EtlConfiguration.php
  classes/ETL/EtlOverseer.php
  classes/ETL/EtlOverseerOptions.php
  classes/ETL/Ingestor/HpcdbHostsIngestor.php
  classes/OpenXdmod/Migration/Etlv2Migration.php
  classes/OpenXdmod/Migration/Version750To800/DatabasesMigration.php
  classes/OpenXdmod/Setup/DatabaseSetup.php
  configuration/etl/etl.d/acls-import.json
  configuration/etl/etl.d/hpcdb-xdw.json
  configuration/etl/etl.d/jobs.json
  configuration/etl/etl.d/xdb.json
  configuration/portal_settings.d/etl.ini
  docs/storage.md
  open_xdmod/modules/xdmod/build.json
  open_xdmod/modules/xdmod/component_tests/lib/ETL/IngestorTest.php
  open_xdmod/modules/xdmod/tests/lib/ETL/Configuration/EtlConfigurationTest.php
  open_xdmod/modules/xdmod/tests/lib/ETL/SqlParser/SqlParserTest.php
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/output/xdmod_etl_config_8.0.0.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/output/xdmod_etl_config_with_variables.json
  tools/etl/etl_overseer.php
Labels: ETL, standardization

#583 Fix exception outside namespace
  open_xdmod/modules/xdmod/regression_tests/lib/Controllers/UsageExplorerTest.php
Labels: bug

#585 Use absolute paths for executing ACL commands
  bin/acl-import
  bin/acl-xdmod-management
  open_xdmod/build_scripts/templates/install.template
Labels: ACL, enhancement

#589 Preserve order of table columns as defined in JSON config file
  classes/ETL/Configuration/EtlConfiguration.php
  classes/ETL/DbModel/Table.php
  open_xdmod/modules/xdmod/component_tests/lib/ETL/BaseEtlTest.php
  open_xdmod/modules/xdmod/component_tests/lib/ETL/DbModel/DbModelTest.php
  open_xdmod/modules/xdmod/tests/lib/ETL/DbModel/DbModelTest.php
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/input/etl_8.0.0.d/modify_table.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/input/etl_tables_8.0.0.d/modify_table_1.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/input/etl_tables_8.0.0.d/modify_table_2.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/input/etl_tables_8.0.0.d/modify_table_3.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/input/etl_tables_8.0.0.d/modify_table_4.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/output/create_table.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/output/modify_table.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/output/rename_and_reorder_table_column.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/output/reorder_table_columns.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/dbmodel/output/alter_table-charset.sql
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/dbmodel/output/alter_table_manually-charset.sql
Labels: ETL, enhancement

#594 Merge 7.5.1 into 8.0.0
  CHANGELOG.md
  bin/xdmod-upgrade
  classes/OpenXdmod/Migration/Version750To751/ConfigFilesMigration.php
  classes/OpenXdmod/Migration/Version750To751/DatabasesMigration.php
  classes/OpenXdmod/Migration/Version751To800/ConfigFilesMigration.php
  classes/OpenXdmod/Migration/Version751To800/DatabasesMigration.php
  db/migrations/7.5.1-8.0.0/mod_logger.sql
  db/migrations/7.5.1-8.0.0/moddb.sql
  db/migrations/7.5.1-8.0.0/modw.sql
  db/migrations/7.5.1-8.0.0/modw_aggregates.sql
  docs/upgrade.md
  html/about/release_notes/xdmod.html
  open_xdmod/modules/xdmod/xdmod.spec.in
Labels: version sync

#597 Properly apply ETL variables to config files when specified on the command line
  classes/ETL/Configuration/Configuration.php
  classes/ETL/Configuration/EtlConfiguration.php
  open_xdmod/modules/xdmod/tests/lib/ETL/Configuration/EtlConfigurationTest.php
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/input/etl_8.0.0.d/local_config_with_variables.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/configuration/output/xdmod_etl_config_with_variables.json
Labels: ETL, bug

#595 Multiple Test Updates
  Dockerfile
  open_xdmod/modules/xdmod/automated_tests/artifacts
  open_xdmod/modules/xdmod/automated_tests/artifacts/.gitignore
  open_xdmod/modules/xdmod/automated_tests/artifacts/update-artifacts.sh
  open_xdmod/modules/xdmod/automated_tests/package-lock.json
  open_xdmod/modules/xdmod/automated_tests/package.json
  open_xdmod/modules/xdmod/automated_tests/runtests.sh
  open_xdmod/modules/xdmod/automated_tests/test/specs/xdmod/metricExplorer.js
  open_xdmod/modules/xdmod/automated_tests/test/specs/xdmod/metricExplorer.page.js
  open_xdmod/modules/xdmod/automated_tests/test/specs/xdmod/reportGenerator.js
  open_xdmod/modules/xdmod/automated_tests/test/specs/xdmod/usageTab.page.js
  open_xdmod/modules/xdmod/automated_tests/test/specs/xdmod/xdmod.page.js
  open_xdmod/modules/xdmod/automated_tests/wdio.conf.js
  open_xdmod/modules/xdmod/automated_tests/webdriverHelpers/waitForAllInvisible.js
  shippable.yml
  tests/artifacts/xdmod-test-artifacts/xdmod/automated_tests/output/loginPage.json
  tests/artifacts/xdmod-test-artifacts/xdmod/automated_tests/output/metricExplorer.json
  tests/artifacts/xdmod-test-artifacts/xdmod/automated_tests/output/reportGenerator.json
  tests/artifacts/xdmod-test-artifacts/xdmod/automated_tests/output/usage.json
Labels: code cleanup, enhancement, tests

#598 Specify optional postgres application name
  classes/CCR/DB/PostgresDB.php
Labels: enhancement

#592 Rename NewRest -> Rest
  classes/NewRest/Controllers/SummaryStatisticsControllerProvider.php
  classes/OpenXdmod/Migration/Version560To600/DatabasesMigration.php
  classes/Rest/Controllers/AuthenticationControllerProvider.php
  classes/Rest/Controllers/BaseControllerProvider.php
  classes/Rest/Controllers/LegacyControllerProvider.php
  classes/Rest/Controllers/MetricExplorerControllerProvider.php
  classes/Rest/Controllers/SummaryStatisticsControllerProvider.php
  classes/Rest/Controllers/UserControllerProvider.php
  classes/Rest/Controllers/WarehouseControllerProvider.php
  classes/Rest/RestFacade.php
  classes/Rest/Utilities/Authentication.php
  classes/Rest/Utilities/Conversions.php
  classes/Rest/XdmodApplicationFactory.php
  configuration/rest.d/authentication.json
  configuration/rest.d/metric_explorer.json
  configuration/rest.d/summary_statistics.json
  configuration/rest.d/user.json
  configuration/rest.d/warehouse.json
  configuration/rest.d/z_legacy.json
  docs/modules.md
  html/report_image_renderer.php
  html/rest/index.php
  open_xdmod/modules/xdmod/tests/lib/NewRest/Controllers/BaseControllerTest.php
Labels: enhancement

#600 Adjust job hosts ingestion to match job ingestion
  configuration/etl/etl_action_defs.d/jobs/xdw/host.json
Labels: ETL, bug

#601 Remove use of shredder and hpcdb config sections
  configuration/etl/etl.d/hpcdb.json
  configuration/etl/etl.d/shredder.json
  configuration/etl/etl.d/staging.json
  configuration/etl/etl.d/xdmod-migration-7_5_1-8_0_0.json
  configuration/etl/etl_sql.d/hpcdb/fields-of-science-hierarchy.sql
  configuration/etl/etl_sql.d/jobs/shredder/job-slurm.sql
Labels: ETL, bug, enhancement
