Repository ubccr/xdmod, pull requests merged in 2018-04, with the labels that each got.

#498 Fix doc typo chmod -> chown
  docs/install-source.md
Labels: documentation

#501 Fix for CVE-2018-6519/CVE-2018-7644/CVE-2018-7711
  composer.json
  composer.lock
  docs/simpleSAMLphp.md
  docs/software-requirements.md
  open_xdmod/modules/xdmod/integration_tests/scripts/samlSetup.sh
  open_xdmod/modules/xdmod/xdmod.spec.in
  shippable.yml
Labels: dependency update, security update

#514 Add dimension for job array task
  configuration/etl/etl_data.d/jobs/job_task_type.json
Labels: ETL

#515 Case insensitive search for trigger BEGIN
  classes/ETL/DbModel/Trigger.php
  tools/dev/verify_table_data.php
Labels: ETL, bug

#516 Update resource types
  classes/OpenXdmod/Ingestor/Staging/ResourceTypes.php
  classes/OpenXdmod/Migration/Version750To800/DatabasesMigration.php
  configuration/etl/etl_data.d/jobs/xdw/resource-type.json
  configuration/etl/etl_pipelines.d/jobs-xdw.json
  configuration/resource_types.json
  docs/configuration.md
  docs/upgrade.md
  open_xdmod/modules/xdmod/regression_tests/lib/Controllers/UsageExplorerTest.php
Labels: ETL, bug, enhancement

#517 Change destination to modw for common jobs tables
  configuration/etl/etl.d/jobs_common.json
Labels: ETL

#520 Log a warning on drop column
  classes/ETL/DbModel/AggregationTable.php
  classes/ETL/DbModel/Column.php
  classes/ETL/DbModel/Table.php
Labels: ETL

#524 Quote database column names to support reserved keywords
  classes/ETL/Aggregator/pdoAggregator.php
  classes/ETL/DbModel/Query.php
  classes/ETL/Ingestor/StructuredFileIngestor.php
  classes/ETL/Ingestor/pdoIngestor.php
  classes/ETL/aRdbmsDestinationAction.php
  open_xdmod/modules/xdmod/tests/lib/ETL/DbModel/DbModelTest.php
Labels: ETL, bug

#446 Updated enum_user_types_and_roles to utilize acls
  html/controllers/role_manager/get_member_status.php
  html/internal_dashboard/controllers/controller.php
  html/internal_dashboard/controllers/mailer.php
  libraries/dashboard.php
  open_xdmod/modules/xdmod/integration_tests/lib/Controllers/ControllerTest.php
Labels: ACL

#525 More flexible aggregation period deletes
  classes/ETL/Aggregator/pdoAggregator.php
Labels: ETL

#526 Load ETL resource codes as needed to allow for bootstrapping actions
  classes/ETL/EtlOverseer.php
  classes/ETL/EtlOverseerOptions.php
  tools/etl/etl_overseer.php
Labels: ETL

#529 Update XDMoD related publications
  html/about/publications.html
Labels: documentation
