Repository ubccr/xdmod, pull requests merged in 2018-10, with the labels that each got.

#687 Disable storage "Group By None" default trend line
  classes/DataWarehouse/Query/Storage/GroupBys/GroupByNone.php
Labels: bug

#685 Fix Role Delegation
  configuration/constants.php
  html/controllers/user_admin/create_user.php
  html/controllers/user_admin/update_user.php
  html/gui/js/profile_editor/ProfileEditor.js
  html/gui/js/profile_editor/ProfileGeneralSettings.js
  html/gui/js/profile_editor/ProfileRoleDelegation.js
  open_xdmod/modules/xdmod/automated_tests/test/specs/xdmod/myProfile.js
  open_xdmod/modules/xdmod/automated_tests/test/specs/xdmod/myProfile.page.js
  tests/artifacts/xdmod-test-artifacts/xdmod/automated_tests/output/myProfile.json
Labels: bug, internal dashboard

#689 Unlock org for unknown person
  classes/Authentication/SAML/XDSamlAuthentication.php
  classes/Rest/Controllers/AuthenticationControllerProvider.php
  html/controllers/user_admin/create_user.php
  html/controllers/user_admin/update_user.php
  html/internal_dashboard/js/AccountRequests.js
  html/internal_dashboard/js/CurrentUsers.js
  html/internal_dashboard/js/Summary/TabPanel.js
  html/internal_dashboard/js/admin_panel/AdminPanel.js
  html/internal_dashboard/js/admin_panel/SectionExistingUsers.js
  html/internal_dashboard/js/admin_panel/SectionNewUser.js
  open_xdmod/modules/xdmod/automated_tests/test/specs/xdmod/internalDashboard.js
  open_xdmod/modules/xdmod/automated_tests/test/specs/xdmod/internalDashboard.page.js
  tests/artifacts/xdmod-test-artifacts/xdmod/automated_tests/output/internalDashboard.json
Labels: Has test description needs automation, bug, internal dashboard

#688 Added Locale Specific Password Expiration Times in Forgot Password Email
  classes/XDUser.php
  email_templates/password_reset.template
  html/controllers/user_admin/pass_reset.php
  html/controllers/user_auth/pass_reset.php
Labels: bug, release prep

#694 Use long_name field from database
  classes/XDWarehouse.php
  html/controllers/sab_user/enum_tg_users.php
  open_xdmod/modules/xdmod/automated_tests/test/specs/xdmod/internalDashboard.js
  open_xdmod/modules/xdmod/integration_tests/lib/Controllers/ControllerTest.php
  tests/artifacts/xdmod-test-artifacts/xdmod/controllers/output/sab_user_enum_tg_users.json
Labels: internal dashboard

#691 Updating who is notified when SSO unknown org occurs
  classes/Authentication/SAML/XDSamlAuthentication.php
  configuration/portal_settings.ini
  docs/simpleSAMLphp.md
  templates/portal_settings.template
Labels: Has test description needs automation, SSO

#695 Add SSO integration tests
  open_xdmod/modules/xdmod/integration_tests/lib/Controllers/SSOLoginTest.php
  open_xdmod/modules/xdmod/integration_tests/lib/TestHarness/XdmodTestHelper.php
  open_xdmod/modules/xdmod/integration_tests/phpunit.xml.dist
  open_xdmod/modules/xdmod/integration_tests/runtests.sh
  shippable.yml
Labels: release prep, tests

#703 Update Database Privileges
  classes/CCR/DB/MySQLHelper.php
Labels: bug, release prep

#704 Fix foreign key constraints
  classes/ETL/DbModel/ForeignKeyConstraint.php
  classes/ETL/DbModel/Table.php
  configuration/etl/etl_tables.d/acls/acl_group_bys.json
  configuration/etl/etl_tables.d/acls/acl_hierarchies.json
  configuration/etl/etl_tables.d/acls/acl_tabs.json
  configuration/etl/etl_tables.d/acls/acl_types.json
  configuration/etl/etl_tables.d/acls/acls.json
  configuration/etl/etl_tables.d/acls/group_bys.json
  configuration/etl/etl_tables.d/acls/hierarchies.json
  configuration/etl/etl_tables.d/acls/realms.json
  configuration/etl/etl_tables.d/acls/statistics.json
  configuration/etl/etl_tables.d/acls/tabs.json
  configuration/etl/etl_tables.d/acls/user_acl_group_by_parameters.json
  configuration/etl/etl_tables.d/acls/user_acls.json
  open_xdmod/modules/xdmod/tests/lib/ETL/DbModel/DbModelTest.php
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/dbmodel/input/table_def-charset.json
  tests/artifacts/xdmod-test-artifacts/xdmod/etlv2/dbmodel/output/table_def-charset.sql
Labels: ETL, bug

#708 Fix "Group By" joins
  classes/DataWarehouse/Query/Jobs/GroupBys/GroupByNSFDirectorate.php
  classes/DataWarehouse/Query/Jobs/GroupBys/GroupByParentScience.php
  classes/DataWarehouse/Query/Storage/GroupBys/GroupByNSFDirectorate.php
  classes/DataWarehouse/Query/Storage/GroupBys/GroupByParentScience.php
Labels: bug

#696 Make person lookup configurable
  classes/Authentication/SAML/XDSamlAuthentication.php
  classes/DataWarehouse.php
  configuration/user_management.json
  open_xdmod/modules/xdmod/build.json
Labels: data quality

#707 Update mysql configuration docs
  docs/faq.md
  docs/software-requirements.md
  docs/upgrade.md
Labels: documentation

#711 Add resource_id to where clause for cloud instance etl action
  configuration/etl/etl_action_defs.d/cloud_eucalyptus/instance.json
  configuration/etl/etl_action_defs.d/cloud_eucalyptus/volume.json
  configuration/etl/etl_action_defs.d/cloud_openstack/instance.json
  configuration/etl/etl_action_defs.d/cloud_openstack/volume.json
Labels: ETL, bug

#692 Update sso user retrieval
  classes/Authentication/SAML/XDSamlAuthentication.php
  classes/DataWarehouse.php
  classes/Models/Services/Organizations.php
  classes/OpenXdmod/Migration/Version751To800/DatabasesMigration.php
  classes/Rest/Controllers/AuthenticationControllerProvider.php
  classes/XDUser.php
  configuration/etl/etl_tables.d/xdb/users.json
  configuration/portal_settings.ini
  docs/simpleSAMLphp.md
  html/controllers/user_admin/get_user_details.php
  html/controllers/user_admin/update_user.php
  html/gui/general/login.php
  html/internal_dashboard/controllers/pseudo_login.php
  html/internal_dashboard/js/admin_panel/SectionExistingUsers.js
  html/internal_dashboard/user_check.php
  open_xdmod/modules/xdmod/integration_tests/lib/Controllers/BaseUserAdminTest.php
  open_xdmod/modules/xdmod/integration_tests/lib/Controllers/SSOLoginTest.php
  open_xdmod/modules/xdmod/integration_tests/lib/Controllers/UserAdminTest.php
  open_xdmod/modules/xdmod/integration_tests/lib/Controllers/UserOrganizationTest.php
  open_xdmod/modules/xdmod/integration_tests/lib/TestHarness/PeopleHelper.php
  open_xdmod/modules/xdmod/integration_tests/lib/TestHarness/XdmodTestHelper.php
  open_xdmod/modules/xdmod/integration_tests/phpunit.xml.dist
  open_xdmod/modules/xdmod/integration_tests/scripts/samlSetup.sh
  shippable.yml
  templates/portal_settings.template
  tests/artifacts/xdmod-test-artifacts/xdmod/user_admin/input/create_users.json
Labels: SSO, bug

#710 Fix Organizations::getNameById
  classes/Models/Services/Organizations.php
Labels: bug

#713 Update release notes and changelog for 8.0
  CHANGELOG.md
  html/about/release_notes/xdmod.html
  open_xdmod/modules/xdmod/xdmod.spec.in
Labels: release prep
