Repository ubccr/xdmod, pull requests merged in 2019-11, with the labels that each got.

#1143 Fix Data Warehouse Export UI download/cancel issues
  html/gui/js/modules/DataExport.js
Labels: Category:Data Warehouse Export, bug

#1141 Do not json_encode included file
  classes/Configuration/IncludeTransformer.php
  tests/artifacts/xdmod/etlv2/configuration/output/sample_config_with_transformer_keys.expected
  tests/unit/lib/ETL/Configuration/IncludeTest.php
Labels: Category:General, bug

#1148 Fix migration
  configuration/etl/etl.d/xdmod-migration-8_5_1-9_0_0.json
Labels: autodoc:ignore, version sync

#1139 Fix bugs where temporary files were not being removed.
  classes/ETL/DataEndpoint/ConfigurationFileEndpoint.php
  classes/ETL/Ingestor/pdoIngestor.php
  tests/ci/validate.sh
Labels: maintenance / code quality

#1115 Focus on username field when login dialog is expanded
  html/gui/js/CCR.js
Labels: Category:General, bug

#1149 Refactor data warehouse batch export deleted state
  classes/DataWarehouse/Export/BatchProcessor.php
  classes/DataWarehouse/Export/FileManager.php
  classes/DataWarehouse/Export/QueryHandler.php
  configuration/etl/etl.d/xdmod-migration-8_5_1-9_0_0.json
  configuration/etl/etl_tables.d/xdb/batch-export-requests.json
  tests/component/lib/Export/FileManagerTest.php
Labels: Category:Data Warehouse Export, enhancement

#1150 Prevent creation of duplicate export requests
  classes/DataWarehouse/Export/QueryHandler.php
  classes/Rest/Controllers/WarehouseExportControllerProvider.php
  tests/artifacts/xdmod/integration/rest/warehouse-export/input/create-request.json
  tests/artifacts/xdmod/integration/rest/warehouse-export/input/delete-request.json
Labels: Category:Data Warehouse Export, enhancement

#1160 Improve SPEC file cron requirement
  open_xdmod/modules/xdmod/xdmod.spec.in
Labels: autodoc:ignore

#1145 Make shippable failure logging better
  shippable.yml
Labels: autodoc:ignore, qa / testing

#1163 Adding coalesce statement for users that are not found in system account table
  configuration/etl/etl_action_defs.d/cloud_openstack/event.json
  configuration/etl/etl_action_defs.d/cloud_openstack/staging_event.json
Labels: Category:Cloud, enhancement

#1159 Add truncate_destination directive back to openstack staging event action that was erroneously removed
  configuration/etl/etl.d/jobs_cloud_openstack.json
Labels: Category:Cloud, bug

#1164 Change ACL error message
  bin/acl-config
Labels: Category:ACL, enhancement

#1157 Update MySQL configuration suggestions
  docs/faq.md
  docs/software-requirements.md
Labels: documentation

#1166 Minor change to Data Warehouse Export controller
  classes/Rest/Controllers/WarehouseExportControllerProvider.php
Labels: Category:Data Warehouse Export, enhancement

#1158 Improvements validation of untrusted input.
  classes/XDUser.php
  html/controllers/metric_explorer/get_rawdata.php
  html/internal_dashboard/controllers/pseudo_login.php
  html/password_reset.php
  tests/integration/lib/Controllers/MetricExplorerTest.php
Labels: maintenance / code quality

#1167 Remove hardcoded database ids.
  classes/Rest/Controllers/DashboardControllerProvider.php
  classes/XDReportManager.php
Labels: Category:User Dashboard, bug

#1156 Fix storage realm username GroupBy
  classes/DataWarehouse/Query/Storage/GroupBy.php
  classes/DataWarehouse/Query/Storage/GroupBys/GroupByUsername.php
  classes/OpenXdmod/Migration/Version851To900/DatabaseMigration.php
Labels: Category:Storage, bug
