Repository ubccr/xdmod, pull requests merged in 2019-12, with the labels that each got.

#1175 Fix typo
  docs/ingestor.md
Labels: Category:General, documentation

#1173 Fix race condition in test harness
  classes/ETL/DataEndpoint/Filter/ExternalProcess.php
Labels: qa / testing

#1171 Fix foreign key constraint on moddb report_template_acls
  classes/ETL/DbModel/ForeignKeyConstraint.php
  classes/ETL/DbModel/Table.php
  configuration/etl/etl_tables.d/acls/report_template_acls.json
  tests/artifacts/xdmod/etlv2/dbmodel/output/alter_table-charset.sql
  tests/artifacts/xdmod/etlv2/dbmodel/output/alter_table_manually-charset.sql
  tests/ci/validate.sh
  tests/unit/lib/ETL/DbModel/DbModelTest.php
Labels: Category:ACL, Category:ETL

#1142 Allow JSON references to overwrite keys
  classes/Configuration/Configuration.php
  classes/Configuration/JsonReferenceWithOverwriteTransformer.php
  tests/artifacts/xdmod/etlv2/configuration/input/sample_config_with_json_overwrite_transformer_keys.json
  tests/artifacts/xdmod/etlv2/configuration/input/sample_config_with_missing_json_overwrite_key.json
  tests/artifacts/xdmod/etlv2/configuration/output/sample_config_with_json_overwrite_transformer_keys.expected
  tests/unit/lib/ETL/Configuration/ConfigurationTest.php
Labels: Category:General, new feature

#1169 Add report template that supports variable substitution.
  classes/ReportTemplates/ParameterizedReportTemplate.php
Labels: Category:Report Generator, Category:User Dashboard

#1177 Character encoding is not commutative.
  classes/Rest/Controllers/DashboardControllerProvider.php
Labels: Category:User Dashboard, bug

#1176 Fix pull query params2 cloud groupby
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByConfiguration.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByDomain.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByProject.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupBySubmissionVenue.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByVMCores.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByVMMemory.php
Labels: Category:Cloud, bug

#1170 Fix module filtering
  bin/acl-config
  classes/Configuration/ModuleConfiguration.php
  tests/artifacts/xdmod/configuration/output/module_config_roles-new_module.json
Labels: Category:ACL, bug

#1035 Fix chart time display when the system timezone has a positive offset from UTC
  html/gui/js/HighChartPanel.js
  html/index.php
  libraries/charting.php
Labels: bug

#1180 Update organization affiliation change email
  classes/XDUser.php
Labels: Category:General, bug

#1182 Update email notification text to be less mysterious.
  classes/XDUser.php
Labels: maintenance / code quality

#1181 Clear report cache operation will remove image files too.
  html/controllers/user_admin/empty_report_image_cache.php
Labels: Category:Internal Dashboard, bug

#1186 adding addWhereJoin to domain and service provider cloud group bys
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByDomain.php
  classes/DataWarehouse/Query/Cloud/GroupBys/GroupByServiceProvider.php
Labels: Category:Cloud, bug

#1190 Fix decoding of report chart settings in the dashboard controller.
  classes/Rest/Controllers/DashboardControllerProvider.php
Labels: Category:User Dashboard, bug

#1191 Fix pie chart datalabel formatting.
  classes/DataWarehouse/Visualization/HighChart2.php
  html/gui/js/HighChartWrapper.js
  tests/artifacts/xdmod/regression/images/expected.json
Labels: bug

#1197 Add roadmap link to documentation
  docs/_data/toc.yml
Labels: Category:General, documentation

#1195 Fix page size in JobComponent single user view.
  html/gui/js/modules/dashboard/JobComponent.js
Labels: Category:User Dashboard, bug

#1194 Don't bother trying to set headers if not possible.
  configuration/linker.php
  docs/support.md
Labels: bug

#1184 Fix stderr checkbox disablement in Metric Explorer.
  html/gui/js/modules/Usage.js
  html/gui/js/modules/metric_explorer/MetricExplorer.js
Labels: Category:Metric Explorer, bug

#1131 Proposed Fix for the underlying json config parsing problems
  classes/Configuration/Configuration.php
  classes/ETL/DataEndpoint/JsonConfigFile.php
  classes/ETL/DataEndpoint/JsonFile.php
  classes/OpenXdmod/Shredder.php
  tests/artifacts/xdmod/configuration/input/to_assoc_array.json
  tests/artifacts/xdmod/configuration/output/single_resource.json
  tests/artifacts/xdmod/configuration/output/single_resource_force_array_return.json
Labels: Category:ETL
