Repository ubccr/xdmod, pull requests merged in 2019-01, with the labels that each got.

#759 Move runEtlPipeline references to etl utilities class
  bin/acl-config
  classes/ETL/Utilities.php
  classes/OpenXdmod/DataWarehouseInitializer.php
  classes/OpenXdmod/Setup/DatabaseSetup.php
Labels: ETL, code cleanup

#762 Change eucalyptus to generic cloud
  classes/OpenXdmod/DataWarehouseInitializer.php
  classes/OpenXdmod/Shredder/Genericcloud.php
  configuration/etl/etl.d/cloud_state_machine.json
  configuration/etl/etl.d/jobs_cloud_generic.json
  configuration/etl/etl_action_defs.d/cloud_common/cloud_metrics_aggregation.json
  configuration/etl/etl_action_defs.d/cloud_generic/account.json
  configuration/etl/etl_action_defs.d/cloud_generic/event.json
  configuration/etl/etl_action_defs.d/cloud_generic/event_asset.json
  configuration/etl/etl_action_defs.d/cloud_generic/event_asset_root_volume.json
  configuration/etl/etl_action_defs.d/cloud_generic/host.json
  configuration/etl/etl_action_defs.d/cloud_generic/image.json
  configuration/etl/etl_action_defs.d/cloud_generic/instance.json
  configuration/etl/etl_action_defs.d/cloud_generic/instance_type.json
  configuration/etl/etl_action_defs.d/cloud_generic/ip_address.json
  configuration/etl/etl_action_defs.d/cloud_generic/raw_cloud_job_logs.json
  configuration/etl/etl_action_defs.d/cloud_generic/raw_volume.json
  configuration/etl/etl_action_defs.d/cloud_generic/root_volume.json
  configuration/etl/etl_action_defs.d/cloud_generic/staging_event.json
  configuration/etl/etl_action_defs.d/cloud_generic/volume.json
  configuration/etl/etl_sql.d/cloud_generic/post_ingest_updates.sql
  configuration/etl/etl_sql.d/cloud_openstack/post_ingest_update.sql
  configuration/etl/etl_tables.d/cloud_generic/raw_event.json
  configuration/etl/etl_tables.d/cloud_generic/raw_instance_type.json
  configuration/etl/etl_tables.d/cloud_generic/raw_volume.json
  configuration/etl/etl_tables.d/cloud_generic/staging_event.json
Labels: ETL, cloud, code cleanup

#771 Improve storage documentation
  docs/_includes/menu.md
  docs/storage.md
Labels: documentation

#768 Don't automatically rewind DirectoryScanner file handle
  classes/ETL/DataEndpoint/DirectoryScanner.php
Labels: bug

#757 Update to support simplesaml session naming
  classes/Authentication/SAML/XDSamlAuthentication.php
  classes/XDSessionManager.php
  docs/simpleSAMLphp.md
  html/gui/general/login.php
  open_xdmod/modules/xdmod/integration_tests/scripts/samlSetup.sh
Labels: bug

#780 DirectoryScanner support for last modified time based on filename and/or directory
  classes/ETL/DataEndpoint/DirectoryScanner.php
  open_xdmod/modules/xdmod/tests/lib/ETL/DataEndpoint/DirectoryScannerTest.php
Labels: ETL, enhancement

#783 Improve debugging messages
  classes/ETL/Maintenance/ExecuteSql.php
Labels: bug

#782 Updating Configuration class to support merging objects w/ Tests
  classes/Configuration/Configuration.php
  classes/Configuration/StripMergePrefixTransformer.php
  open_xdmod/modules/xdmod/tests/bootstrap.php
  open_xdmod/modules/xdmod/tests/lib/ETL/Configuration/EtlConfigurationTest.php
  tests/artifacts/xdmod-test-artifacts/xdmod/configuration/input/xdmod_config.json
  tests/artifacts/xdmod-test-artifacts/xdmod/configuration/output/xdmod_config_datawarehouse.json.json
  tests/artifacts/xdmod-test-artifacts/xdmod/configuration/output/xdmod_config_roles.json.json
Labels: ETL, enhancement

#786 Add storage shredder/ingestor support
  bin/xdmod-ingestor
  bin/xdmod-shredder
  classes/ETL/Ingestor/HpcdbHostsIngestor.php
  classes/OpenXdmod/DataWarehouseInitializer.php
  classes/OpenXdmod/Shredder/Storage.php
  configuration/etl/etl.d/hpcdb-xdw.json
  configuration/etl/etl.d/ingest_resources.json
  docs/storage.md
Labels: ETL, enhancement
