Repository ubccr/xdmod, pull requests merged in 2020-04, with the labels that each got.

#1273 Cloud documentation update for 9.0
  docs/cloud.md
  docs/upgrade.md
Labels: Category:Cloud, documentation

#1278 Default GPU count to zero
  configuration/etl/etl_tables.d/jobs/hpcdb/jobs.json
  configuration/etl/etl_tables.d/jobs/shredder/job.json
  configuration/etl/etl_tables.d/jobs/staging/job.json
  configuration/etl/etl_tables.d/jobs/xdw/job-tasks.json
Labels: Category:ETL, autodoc:ignore

#1279 Close report generator "Save As" dialog after saving
  html/gui/js/report_builder/SaveReportAsDialog.js
  tests/ui/test/specs/xdmod/reportGenerator.js
Labels: Category:Report Generator, enhancement

#1281 Rename report file name input field
  html/gui/js/report_builder/ReportCreator.js
  tests/ui/test/specs/xdmod/reportGenerator.js
  tests/ui/test/specs/xdmod/reportGenerator.page.js
Labels: Category:Report Generator, bug

#1284 Fix bug viewing raw data as demo user.
  classes/DataWarehouse/Data/RawDataset.php
Labels: bug

#1283 Move the job grid into its own class.
  configuration/assets.json
  html/.eslintrc.json
  html/gui/js/modules/dashboard/JobComponent.js
  html/gui/js/modules/job_viewer/JobGrid.js
Labels: Category:User Dashboard

#1264 Improve performance of the timeseries queries.
  classes/DataWarehouse/Access/MetricExplorer.php
  classes/DataWarehouse/Data/SimpleTimeseriesData.php
  classes/DataWarehouse/Data/SimpleTimeseriesDataIterator.php
  classes/DataWarehouse/Data/SimpleTimeseriesDataset.php
  classes/DataWarehouse/Data/TimeseriesDataset.php
  classes/DataWarehouse/Query/TimeseriesQuery.php
  classes/DataWarehouse/Visualization/HighChartTimeseries2.php
  tests/component/lib/Query/TimeseriesQueryTest.php
Labels: Category:Metric Explorer, maintenance / code quality

#1285 Fix bug in highchart wrapper code.
  html/gui/js/HighChartWrapper.js
Labels: bug

#1289 Remove use of shredder and hpcdb config sections
  configuration/etl/etl.d/xdmod-migration-8_5_1-9_0_0.json
Labels: Category:ETL, autodoc:ignore

#1290 Remove unused functions
  libraries/charting.php
Labels: Category:General, maintenance / code quality

#1291 Remove unnecessary require statements
  classes/XDController.php
  classes/XDUser.php
  classes/XDUserProfile.php
Labels: Category:General, maintenance / code quality

#1295 Add alternate_group_by_column field to Project and Instance Type group by
  configuration/datawarehouse.d/ref/Cloud-group-bys.json
Labels: Category:Cloud, bug
