Repository ubccr/xdmod, pull requests merged in 2020-05, with the labels that each got.

#1299 Fix regression bug when paging datasets.
  classes/DataWarehouse/Data/TimeseriesDataset.php
  tests/regression/lib/Controllers/MetricExplorerChartsTest.php
Labels: bug

#1302 Switch to new report after "Save As"
  html/gui/js/report_builder/ReportCreator.js
  tests/ui/test/specs/xdmod/reportGenerator.js
Labels: Category:Report Generator, bug

#1300 Add README to data warehouse export zip files
  classes/DataWarehouse/Export/FileManager.php
  tests/artifacts/xdmod/component/export/file_manager/input/export-requests.json
  tests/component/lib/Export/FileManagerTest.php
Labels: Category:Data Warehouse Export, enhancement

#1303 Improve performance of OpenStackCloudEventAssetRootVolumeIngestor and GenericCloudEventAssetRootVolumeIngestor actions
  configuration/etl/etl_action_defs.d/cloud_generic/event_asset_root_volume.json
  configuration/etl/etl_action_defs.d/cloud_openstack/event_asset_root_volume.json
  configuration/etl/etl_tables.d/cloud_common/asset.json
Labels: Category:Cloud, bug

#1306 Use absolute acl-config path in xdmod-ingestor
  bin/xdmod-ingestor
Labels: Category:General, enhancement

#1313 Move UpdateCloudProjectToPI action to jobs-cloud-ingest-pi pipeline
  classes/OpenXdmod/DataWarehouseInitializer.php
  configuration/etl/etl.d/jobs_cloud_common.json
  configuration/etl/etl.d/jobs_cloud_generic.json
  configuration/etl/etl.d/jobs_cloud_openstack.json
Labels: Category:Cloud

#1315 Update shredder documentation
  bin/xdmod-shredder
  docs/resource-manager-lsf.md
  docs/resource-manager-pbs.md
  docs/resource-manager-sge.md
  docs/resource-manager-slurm.md
  docs/shredder.md
Labels: Category:General, documentation

#1316 Change ETL logging identification strings
  background_scripts/etl_aggregation_table_manager.php
  tools/etl/etl_action_state_mgr.php
  tools/etl/etl_overseer.php
  tools/etl/etl_table_manager.php
Labels: Category:ETL

#1317 Add `job_id_raw` to SGE shredder
  classes/OpenXdmod/Shredder/Sge.php
Labels: Category:ETL

#1318 Fix batch export realm access
  classes/DataWarehouse/Access/BatchExport.php
Labels: autodoc:ignore, bug

#1319 Fix batch export realm access
  classes/DataWarehouse/Export/RealmManager.php
Labels: Category:Data Warehouse Export, autodoc:ignore, bug

#1322 Fix data export submission confirmation message
  html/gui/js/modules/DataExport.js
Labels: Category:Data Warehouse Export, bug

#1324 GroupBy refactor bugfix.
  classes/Realm/GroupBy.php
Labels: autodoc:ignore, bug
