Repository ubccr/xdmod, pull requests merged in 2021-04, with the labels that each got.

#1522 Added Blue Waters workload analysis to publications list
  html/about/publications.html
Labels: documentation

#1526 Change query that deletes session records to have better performance
  configuration/etl/etl_sql.d/cloud_common/delete_session_records.sql
  configuration/etl/etl_tables.d/cloud_common/event_reconstructed.json
  configuration/etl/etl_tables.d/cloud_common/session_records.json
Labels: Category:Cloud, autodoc:ignore, maintenance / code quality

#1523 Move truncate_declaration directives to correct spot for cloud resource specs migration
  configuration/etl/etl.d/xdmod-migration-9_0_0-9_5_0.json
Labels: Category:Cloud, autodoc:ignore, bug

#1524 Adding documentation related to cloud upgrade for 9.5 release
  docs/upgrade.md
Labels: autodoc:ignore, documentation

#1527 Updates for cloud Data Export and migration pipelines.
  classes/DataWarehouse/Query/Cloud/JobDataset.php
  classes/OpenXdmod/Migration/Version900To950/DatabaseMigration.php
  configuration/etl/etl.d/jobs_cloud_common.json
  configuration/etl/etl.d/xdmod-migration-9_0_0-9_5_0.json
  configuration/etl/etl_action_defs.d/cloud_common/host.json
  configuration/etl/etl_action_defs.d/cloud_common/initialize_unknown_dimension_values.json
  configuration/etl/etl_data.d/cloud_common/host.json
  configuration/etl/etl_sql.d/migrations/9.0.0-9.5.0/modw_cloud/update_hosts_table_index.sql
  configuration/etl/etl_tables.d/cloud_common/host.json
Labels: Category:Cloud, autodoc:ignore

#1528 Update host dimension migration sql to avoid primary key duplicate during migration
  configuration/etl/etl_sql.d/migrations/9.0.0-9.5.0/modw_cloud/update_hosts_table_index.sql
Labels: Category:Cloud, autodoc:ignore, bug
