Repository ubccr/xdmod, pull requests merged in 2023-02, with the labels that each got.

#1690 Fix regression test runner.
  tests/regression/lib/Controllers/UsageChartsTest.php
Labels: bug, autodoc:ignore

#1664 Adding latest-releases to our public docs
  docs/_data/toc.yml
  docs/latest-releases.md
Labels: documentation, Category:General

#1684 Add index for qos_name ingestion
  configuration/etl/etl.d/xdmod-migration-10_0_0-10_5_0.json
  configuration/etl/etl_tables.d/jobs/shredder/job.json
Labels: Category:ETL

#1691 Synchronize 10.0 branch changes with 10.5
  classes/DataWarehouse.php
  docs/_data/toc.yml
  docs/howto-reconstruct-slurm.md
  docs/howto.md
  docs/latest-releases.md
  html/about/images/Case_Western_logo.png
  html/about/images/SDSC_logo.jpg
  html/about/images/Tufts_logo.png
  html/about/images/access_logo.png
  html/about/images/indianauniversity_logo.jpg
  html/about/images/xsede_logo.jpg
  html/about/links.html
Labels: maintenance / code quality, autodoc:ignore

#1679 Improve legend text generation algorithm
  classes/DataWarehouse/Visualization/HighChartTimeseries2.php
  tests/regression/lib/Controllers/MetricExplorerChartsTest.php
Labels: enhancement, Category:Metric Explorer

#1685 Add vm state dimension
  classes/ETL/Ingestor/CloudStateReconstructorTransformIngestor.php
  classes/OpenXdmod/Migration/Version1000To1050/DatabasesMigration.php
  configuration/etl/etl.d/cloud_state_machine.json
  configuration/etl/etl.d/jobs_cloud_common.json
  configuration/etl/etl.d/xdmod-migration-10_0_0-10_5_0.json
  configuration/etl/etl_action_defs.d/cloud_common/instance_states.json
  configuration/etl/etl_action_defs.d/cloud_common/session_records.json
  configuration/etl/etl_action_defs.d/cloud_common/update_resize_session_record_state.json
  configuration/etl/etl_data.d/cloud_common/event_type.json
  configuration/etl/etl_data.d/cloud_common/instance_states.json
  configuration/etl/etl_tables.d/cloud_common/event_type.json
  configuration/etl/etl_tables.d/cloud_common/instance_states.json
  configuration/etl/etl_tables.d/cloud_common/session_records.json
Labels: Category:Cloud, new feature
