Repository ubccr/xdmod, pull requests merged in 2023-08, with the labels that each got.

#1747 Adding the upgrade path for el8
  .circleci/config.yml
Labels: maintenance / code quality, autodoc:ignore, Category:Infrastructure

#1738 Add Data Analytics Framework web page.
  docs/_data/toc.yml
  docs/configuration.md
  docs/data-analytics-framework.md
Labels: documentation, Category: Data Analytics Framework

#1746 Adding DB Logging to select controllers
  classes/CCR/RequestLogger.php
  html/controllers/metric_explorer/get_data.php
  html/controllers/metric_explorer/get_rawdata.php
  html/controllers/user_interface/get_charts.php
Labels: Category:Metric Explorer, new feature, Category:User Dashboard, Category:Infrastructure

#1761 Changes to upgrade to make sure it works when upgrading from 10.0.3
  bin/xdmod-upgrade
  classes/OpenXdmod/Migration/Version1002To1003/ConfigFilesMigration.php
  classes/OpenXdmod/Migration/Version1003To1050/ConfigFilesMigration.php
  classes/OpenXdmod/Migration/Version1003To1050/DatabasesMigration.php
  configuration/etl/etl.d/xdmod-migration-10_0_3-10_5_0.json
Labels: enhancement, autodoc:ignore
