Repository ubccr/xdmod, pull requests merged in 2023-06, with the labels that each got.

#1734 Allowing group bys to be hidden for a specific statistic
  bin/acl-config
  classes/DataWarehouse/Access/Usage.php
  classes/Realm/Realm.php
  classes/Realm/Statistic.php
  classes/Realm/iStatistic.php
  classes/User/Elements/QueryDescripter.php
  html/controllers/metric_explorer/get_dw_descripter.php
  html/controllers/user_interface/get_menus.php
  html/gui/js/AddDataPanel.js
  html/gui/js/modules/metric_explorer/MetricExplorer.js
Labels: Category:ACL, new feature

#1732 Adding default values for modw_cloud.instance_type_union table
  configuration/etl/etl_tables.d/cloud_common/instance_type_union.json
Labels: Category:ETL

#1724 Refactoring randomInt function location
  docs/latest-releases.md
  docs/software-requirements.md
  html/gui/js/AddDataPanel.js
  html/gui/js/CCR.js
Labels: bug, Category:EfficiencyTab
